@{
    ViewData["Title"] = "Login";
}

    <div class="form-container">
        <h1>Account login</h1>
        <p>Vul dit formulier in om in te loggen</p>
        <hr>

        <label for="username"><b>Gebruikersnaam</b></label></br>
                <select class="form-select w-full" aria-label="Default select example">
        @for(int i =0;i < Program.personeel.Count; i++)
        {

            <option value="@Program.personeel[i]["personeelid"]">@Program.personeel[i]["personeelsnaam"]</option>
        }
                </select>

        </br><label for="password"><b>Wachtwoord</b></label>
        <input type="password" placeholder="Vul wachtwoord in" name="password" id="password" required>
        <hr>

        <button type="submit" class="btn">Login</button>
    </div>

    @section Scripts{
        <script>
        function login() {
            fetch("http").then(() => {
            window.location.reload()})
        }
        </script>
    }