
﻿@{
	ViewData["Title"] = "Nieuwe personeel registreren";
}

  <div class="form-container">
    <h1>Nieuwe personeel</h1>
    <p>Registreer een nieuwe personeel</p>
    <hr>
        <label for="rankid"><b>Rank ID</b></label>
        <input id="rankid" type="text" placeholder="Rank ID" name="rankid" required>

        <label for="personeelsnaam"><b>Naam</b></label>
        <input id="personeelsnaam" type="text" placeholder="Naam" name="personeelsnaam" required>

        <label for="password"><b>Wachtwoord</b></label>
        <input id="password" type="text" placeholder="Wachtwoord" name="password" required>
    <hr>

    <button onclick="insertUser()" type="submit" class="btn">Registreer</button>
  </div>

@section Scripts {
    <script>
        function insertUser() {
            rankid = document.getElementById("rankid").value;
            personeelsnaam = document.getElementById("personeelsnaam").value;
            password = document.getElementById("password").value;
            fetch('/Insert/User/' + rankid + '/' + personeelsnaam + '/'+password)
                .then(() => {window.location.href="/" })
        }
    </script>
}