@{
    ViewData["Title"] = "Verlof aanvragen";
}


  <div class="form-container">
    <h1>Verlof aanvragen</h1>
    <p>Vul dit formulier in om verlof aan te vragen</p>
    <hr>
    <p>Jouw ID:</p><p id="personeelid">@Program.currentuser.personeelid</p>

    <label for="vanaf"><b>Vanaf</b></label>
    <input type="date" placeholder="Vanaf datum" name="vanaf" id="vanaf" required>

    <label for="tot"><b>Tot</b></label>
    <input type="date" placeholder="Tot datum" name="tot" id="tot" min="" required>
    
    <label for="beschrijving"><b>Beschrijving</b></label>
    <textarea  placeholder="Beschrijving" name="beschrijving" id="beschrijving" required></textarea>
    <hr>

    <button onclick="vraagVerlofAan()" type="submit" class="btn">Vraag aan</button>
  </div>

  @section Scripts{
        <script>
            //Dit zorgt ervoor dat mensen niet de tot datum eerder kunnen maken dan de vanaf datum
            document.getElementById("vanaf").addEventListener("change", function(){
                let firstdate = document.getElementById("vanaf").value;
                document.getElementById("tot").value = "";
                document.getElementById("tot").setAttribute("min",firstdate);
            });

            function vraagVerlofAan() {
                let personeelid = document.getElementById("personeelid").innerText;
                let vanaf = document.getElementById("vanaf").value;
                let tot = document.getElementById("tot").value;
                let beschrijving = document.getElementById("beschrijving").value;
                console.log(personeelid, vanaf, tot, beschrijving);

                if (vanaf !== "" && tot !== "" && beschrijving !== "") {
                    fetch('/Insert/Verlof?personeelid=' + personeelid + '&vanaf=' + vanaf + '&tot='+ tot + '&beschrijving='+ beschrijving)
                    .then(() => { window.location.href="/page/verlof/" })
                }

                
            }
        </script>
  }