@{
    await Geoprofs.Database.create.jeffAsync();
    ViewData["Title"] = "Home Page";
    string[] titles = { "First","last","Handle" };
    string[] firstnames = { "Mark","Jacob","Lary" };
    string[] lastnames = { "Otto", "Thornton", "the Bird" };
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            @foreach (string item in titles)
            {
                <th scope="col">@item</th>
            }
        </tr>
    </thead>
    <tbody>
        @for(int i=0;i<firstnames.Length; i++)
        {
            <tr>
                <td>@firstnames[i]</td>
                <td>@lastnames[i]</td>
                <td>@firstnames[i]</td>
            </tr>
        }
    </tbody>
</table>
