@{
	ViewData["Title"] = "Login";
}

<form action="">
  <div class="form-container">
    <h1>Registreer account</h1>
    <p>Vul dit formulier in om een account te kunnen maken</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Vul Email-adres in" name="email" id="email" required>

    <label for="password"><b>Wachtwoord</b></label>
    <input type="password" placeholder="Vul wachtwoord in" name="password" id="password" required>

    <label for="password-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Herhaal Password" name="password-repeat" id="password-repeat" required>
    <hr>

    <button type="submit" class="btn">Registreer</button>
  </div>
</form>